@import '../../../../Styles/font.scss';
@import '../../../../Styles/mixin.scss';

.TopNav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  @include flexCenterAligned;
  width: 100vw;
  min-width: 440px;
  height: 90px;
  padding-right: 11vw;
  padding-left: 11vw;
  background-color: #f6f5ef;
  z-index: 2;
	@media screen and (max-width: 800px) {
    padding-left: 5vw;
    padding-right: 5vw;
	}
  
	.topNavLogo {
    font-size: 35px;
    @include FontDancingScripts;
	}
  
	.topNavList li {
  	display: inline-block;
    padding: 6px;
		@media screen and (max-width: 800px) {
			font-size: smaller;
		}
	}
}