$theme-color: #f6f5ef;
$basic-btn-color: #3795f6;
$disabled-btn-color: #b2dffd;
$division-color: #ddd;

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%flex-column {
  display: flex;
  flex-direction: column;
}

%flex-between {
  display: flex;
  justify-content: space-between;
}
