@import '../../../Styles/variables.scss';
@import '../../../Styles/font.scss';

.List {
  @extend %flex-column;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 3rem;
}

.menu {
  @extend %flex-column;
  flex-wrap: wrap;
  width: 60%;
  margin: 30px auto;
}
