.footer {
  position: relative;
  bottom:0;
  left:0;
  right:0;
  display: flex;
  justify-content: space-between;
  padding: 50px;
  color: white;
  background-color: #2c2a29;
  @media screen and (max-width: 920px) {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-between;
  } 
	.footerCategory {
    padding: 15px;
    @media screen and (max-width: 920px) {
      flex: 1 1 33%;
    } 
		.footerListOuter {
    	margin-bottom: 12px;
    	font-size: 15px;
      font-weight: bold;
		}
		.footerListInner {
    	font-size: smaller;
    	line-height: 140%;
		}
	}
}