.DetailPage {
  min-width: 440px;
  padding-top: 90px;
  main {
    width: 80vw;
    margin: 0 auto;
    z-index: 1;
  }
}

.detailContainer {
  width: 80vw;
  padding-top: 30px;
  .detailCoffeeTitle {
    display: flex;
    justify-content: space-between;
    height: 40px;
    margin-bottom: 20px;
    h1 {
      font-size: 30px;
      font-weight: 800;
    }
  }
}

.detailCoffeeInfo {
  display: flex;
  justify-content: space-around;
  .detailCoffeeInfoImg {
    width: 45%;
    margin-right: 5%;
    img {
      width: 100%;
    }
  }

  .detailCoffeeInfoNonImg {
    width: 55%;
  }

  .detailCoffeeName {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-bottom: 10px;
    border-bottom: 2.5px solid black;
    font-size: 25px;
    font-weight: 600;
    line-height: 80%;
    h2 span {
      font-size: small;
    }

    .detailLikeButton {
      position: absolute;
      right: 0;
      color: rgb(126, 125, 125);
      font-size: 35px;
      cursor: pointer;
    }
  }

  .detailDescription {
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 150%;
  }
}

.detailImg2 {
  display: none;
}

.DetailPage {
  @media screen and (max-width:930px) {
    .sizeForNutrition {
      flex-direction: column;
    }
  }

  @media screen and (max-width: 800px) {
    .detailContainer * {
      width: 100%;
    }
    .detailCoffeeInfoImg {
      display: none;
    }
    .detailImg2 {
      display: inline-block;
    }
    .detailCoffeeInfo {
      flex-direction: column;
    }
    .detailLikeButton {
      width: 45px;
    }
  }
}