.Login {

  display: flex;
  justify-content: center;
  margin-top: 100px;

  .contentsWrapper {
    position: relative;
    width: 400px;
    border: 1px solid lightgray;
    text-align: center;
  }

  .logo {
    margin-top: 60px;
    margin-bottom: 50px;
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
  }

  form {
    input {
      width: 290px;
      height: 35px;
      margin-bottom: 15px;
      padding-left: 7px;
      border: 1px solid lightgray;
      border-radius: 5px;
      font-size: 13px;
      background-color: #F7F7F7;
    }
  }

  #btnLogin {
    width: 303px;
    height: 35px;
    margin-bottom: 250px;
    border: none;
    border-radius: 5px;
    color: white;
  }

  .deactive {
    background-color: #ADD3EA;
  }
  
  .active {
    background-color: #60ADED;
  }

  #findPw {
    position: absolute;
    bottom: 80px;
    left: 125px;
    color: #2b84c4;
    text-decoration: none;
  }

}