header {
  align-items: center;
  height: 60px;
  width: 100%;
  background-color: #f6f5ef;
  z-index: 99;

  h1 {
    float: left;
    padding-left: 30px;
    padding-top: 12px;
    font-family: 'Dancing Script', cursive;
    font-size: 36px;
  }

  nav ul {
    position: absolute;
    top: 22px;
    right: 30px;
    list-style: none;

    li {
      float: left;
      padding: 0 10px;
      color: #d5d4cf;
      line-height: 100%;
      font-size: 18px;
    }
  }
}
